In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/tips-dataset/tips.csv

In [2]:
#Afficher les 5 premiers éléments
data = pd.read_csv('/kaggle/input/tips-dataset/tips.csv')
data.head()

   Total_bill   Tip     Sex Smoker  Day    Time  Size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
#Afficher les 10 derniers éléments
data.tail(10)

     Total_bill   Tip     Sex Smoker   Day    Time  Size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [4]:
#Afficher le nombre de données
len(data)

244

In [5]:
#Afficher la structure, soit le nombre de lignes et de colonnes
np.shape(data)

(244, 7)

In [6]:
#Afficher les types de variables
data.dtypes

Total_bill    float64
Tip           float64
Sex            object
Smoker         object
Day            object
Time           object
Size            int64
dtype: object

In [7]:
#Afficher les valeurs manquantes, marche aussi avec isnull
data.isna()

     Total_bill    Tip    Sex  Smoker    Day   Time   Size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [8]:
#Afficher le nombre de valeurs nulles
data.isnull().sum()

Total_bill    0
Tip           0
Sex           0
Smoker        0
Day           0
Time          0
Size          0
dtype: int64

In [9]:
#Afficher tout ce qui est fait précédemment
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total_bill  244 non-null    float64
 1   Tip         244 non-null    float64
 2   Sex         244 non-null    object
 3   Smoker      244 non-null    object
 4   Day         244 non-null    object
 5   Time        244 non-null    object
 6   Size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [10]:
#Afficher des statistiques éléméntaires pour les colonnes numériques : nombre d'éléments, moyenne, écart-type, valeur minimale, quartiles, valeur max
data.describe()

       Total_bill         Tip        Size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [11]:
#Récupérer les doublons
data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
239    False
240    False
241    False
242    False
243    False
Length: 244, dtype: bool

In [12]:
#Afficher le nombre de doublons
data.duplicated().sum()

1

In [13]:
#Supprimer les doublons et afficher le tableau sans doublons. Si on veut utiliser par la suite on peut aussi commencer par data =
data.drop_duplicates()
datasansdoublons = data.drop_duplicates()
datasansdoublons.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Total_bill  243 non-null    float64
 1   Tip         243 non-null    float64
 2   Sex         243 non-null    object
 3   Smoker      243 non-null    object
 4   Day         243 non-null    object
 5   Time        243 non-null    object
 6   Size        243 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB